.header
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    font-weight: 500;

}
.list
{
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 100px;
    font-size: 20px;
}
a
{
    text-decoration: none;
    color:cornflowerblue;
}
body
{
    background-color: #87d5c2;
}
hr
{
    border: 2px solid black;
    border-style:solid;

}